<div class="card shadow-effect">
  <img src="https://images.pexels.com/photos/715821/pexels-photo-715821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Apresentou</small>
    <small class="bg-light text-info text-center ml-3">Visualizações</small>

    <h5 class="mt-1">COMO INICIAR UM BLOG EM 2023 EDITAR NOVA CATEGORIA</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, reprehenderit accusantium laudantium repudiandae consequatur pariatur incidunt. Asperiores sapiente fugiat facilis, odit velit neque, officiis recusandae nam molestias distinctio, explicabo consequuntur.
    </p>
    <small class="bg-light text-warning text-center ml-3">
      ÚLTIMA ACTUALIZAÇÃO - ABRIL 05, 2023
    </small>
  </div>
</div>
